/*
* <license header>
*/


html,
body {
  width: 100%;
  height: 100%;
  overflow: "hidden";
}

html, body, body > div, .app {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.basic-url{
  color: #333;
  font-weight: bold;
}

.webhook-url-wrapper{
  border: 0px solid #333;
  display: table;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

.webhook-url {
  font-weight: 500;
  font-size:medium;
  margin-right: 0px;
  margin-top: 2px;
}

.webhook-url-channel {
  font-weight: normal;
}

.input-group-btn{
  margin-left: 10px;
}

#logListElm > li{
  list-style-type: none;
}